#blog-list{
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: auto;
}

a{
    color: var(--color2);
    text-decoration: none;
}

div.blog{
    position: relative;
    left: 10%;
    margin: 30px;
    width: calc(80% - 60px);
    font-size: 32px;
    font-weight: 700;
}

div.blog-name{
    float: left;
}

div.blog-date{
    font-size: 10px;
    color: var(--color3);
}

* {
    overflow-wrap: anywhere;
}